@(inspectionForm: Form[Inspection],
inspectionServices: Map[String, String],
products: Map[String, String],
inspection: Inspection
)
@import helper._
@import helper.twitterBootstrap._


@main("Dodaj Inspekcijsko Tijelo") {

<div class="well col-md-5 col-md-offset-3">
	<h2>Novo inspekcijsko tijelo</h2>

	@form(routes.InspectionController.updateInspection()) {


	<div class="form-group">
		@inputText(inspectionForm("inspectionDate"),
		'_label->"Datum Kontrole",
		'_showConstraints -> false
		)

		@select(inspectionForm("inspectionServiceId"), options(inspectionServices),
		'_label->"Nadležnost",
		'_showConstraints -> false
		) 

		@select(inspectionForm("productId"), options(products),
		'_label->"Inspektorat",
		'_showConstraints -> false
		)

		@select(inspectionForm("safe"), options("0"->"Nije Siguran", "1"->"Siguran"),
		'_label->"Proizvod Siguran?",
		'_showConstraints -> false
		)

		@inputText(inspectionForm("id"),
		'_label->"Id",
		'_showConstraints -> false,
		'_class->"hidden"
		) 

		@textarea(field = inspectionForm("inspectionResult"), args = 'rows -> 3, 'cols -> 50,'_label->"Rezultat Kontrole",
		'_showConstraints -> false)

		<input type="submit" value="Spremi promjene" class='btn btn-warning' > 
	</div>
} 
@form(routes.InspectionController.deleteInspection(inspection.id)) {
			<input type="submit" value="Izbrisi" class='btn btn-danger' > 
		}
</div>
<script src='@routes.Assets.at("javascripts/jquery.pickmeup.min.js")'></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pickmeup.min.css")">
<script>

$('#inspectionDate').pickmeup({
    format  : 'd-m-Y',
    max: new Date()
});

</script>
}