@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<title>Ping Projekt - @title</title> @includes.stylesheets()
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

@includes.scripts()
</head>
<body>
	@includes.navbar()
	<div class='main-content'>
	<div class="alert alert-success hidden"> <div class='container'> Test </div> </div>
		<div class='container'>@content</div>
	</div>
</body>
</html>
