@(productForm: Form[Product])
@import helper._
@import helper.twitterBootstrap._


@main("Todo list") {

<div class="well col-md-5 col-md-offset-3">
	<h2>Novi Proizvod</h2>

	@form(routes.ProductController.newProduct()) {


	<div class="form-group">
		@inputText(productForm("name"),
		'_label->"Naziv Proizvoda",
		'_showConstraints -> false
		) 

		@inputText(productForm("manufacturer"),
		'_label->"Proizvođač",
		'_showConstraints -> false
		)

		@inputText(productForm("countryOfOrigin"),
		'_label->"Zemlja porijekla",
		'_showConstraints -> false
		) 

		@inputText(productForm("serialNumber"),
		'_label->"Serijski broj", '_showConstraints -> false)


		@textarea(field = productForm("description"), args = 'rows -> 3, 'cols -> 50,'_label->"Opis",
		'_showConstraints -> false)
		<input type="submit" value="Dodaj Proizvod"	class='btn btn-primary' > 
	</div>
} 
</div>
}