@(products: List[Product], productForm: Form[Product])
@import helper._
@import helper.twitterBootstrap._
@main("Todo list") {

<h1>@products.size() proizvoda</h1>
<div class="col-md-6" id='productIndex'>   
    <table class='table table-striped'> 
        <thead>
            <tr class="active"> <th> Naziv Proizvoda </th> <th> Proizvođač </th> <th> Zemlja porijekla </th> <th> Serijski broj </th> 
                <th> Opis </th>
            </thead>
            <tbody>
            </tr>
            @for(product <- products) {
            <tr productId = "@product.id">
                <td> @product.name </td> <td> @product.manufacturer </td> <td> @product.countryOfOrigin </td>
                <td> @product.serialNumber </td> <td> @product.description </td>
            </tr>         
        }  
    </tbody>
</table>
</div>

<div class="col-md-5 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
       <button id='saveChanges' class='btn btn-sm btn-success'> Spremi Promjene </button>
       <button id='deleteProduct' class='btn btn-sm btn-danger'> Izbrisi Proizvod </button>
    </div>
    <div class="panel-body">
    @form(routes.ProductController.updateProduct(), 'id->"updateForm") {
        <div class="form-group">
		@inputText(productForm("name"),
		'_label->"Naziv Proizvoda",
		'_showConstraints -> false
		) 

		@inputText(productForm("manufacturer"),
		'_label->"Proizvođač",
		'_showConstraints -> false
		)

		@inputText(productForm("countryOfOrigin"),
		'_label->"Zemlja porijekla",
		'_showConstraints -> false
		) 

		@inputText(productForm("serialNumber"),
		'_label->"Serijski broj", '_showConstraints -> false)


		@textarea(field = productForm("description"), args = 'rows -> 3, 'cols -> 50,'_label->"Opis",
		'_showConstraints -> false)
		}
		
		@inputText(productForm("id"),
		'_label->"",
		'class -> "hidden"
		) 
		 
	</div>
    </div>
</div>
</div> 

}