@(inspectionForm: Form[Inspection], 
inspectionServices: Map[String, String],
products: Map[String, String])

@import helper._
@import helper.twitterBootstrap._

		@inputText(inspectionForm("inspectionDate"),
		'_label->"Datum Kontrole",
		'_showConstraints -> false
		)

		@select(inspectionForm("inspectionServiceId"), options(inspectionServices),
		'_label->"Inspekcijsko Tijelo",
		'_showConstraints -> false
		) 

		@select(inspectionForm("productId"), options(products),
		'_label->"Kontrolisani Proizvod",
		'_showConstraints -> false
		)

		@select(inspectionForm("safe"), options("0"->"Nije Siguran", "1"->"Siguran"),
		'_label->"Proizvod Siguran?",
		'_showConstraints -> false
		)

		@textarea(field = inspectionForm("inspectionResult"), args = 'rows -> 3, 'cols -> 50,'_label->"Rezultat Kontrole",
		'_showConstraints -> false)