@(inspectionForm: Form[Inspection],
inspectionServices: Map[String, String],
products: Map[String, String]
)
@import helper._
@import helper.twitterBootstrap._


@main("Dodaj Inspekcijsku Kontrolu") {

<div class="well col-md-5 col-md-offset-3">
	<h2>Nova inspekcijska kontrola</h2>

	@form(routes.InspectionController.newInspection()) {

		@_inspectionForm(inspectionForm, inspectionServices, products)

	<div class="form-group">


		<input type="submit" value="Dodaj izvještaj" class='btn btn-primary' > 
	</div>
} 
</div>
<script src='@routes.Assets.at("javascripts/jquery.pickmeup.min.js")'></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pickmeup.min.css")">
<script>

$('#inspectionDate').pickmeup({
    format  : 'Y-m-d',
    max: new Date()
});

</script>
}