@(InspectionForm: Form[InspectionService],
 products: Map[String, String],
 inspectorates: Map[String, String],
 inspectionServices: Map[String, String]
 )
@import helper._
@import helper.twitterBootstrap._


@main("Dodaj Inspekcijsko Tijelo") {

<div class="well col-md-5 col-md-offset-3">
	<h2>Novo inspekcijsko tijelo</h2>

	@form(routes.InspectionServiceController.newInspectionService()) {


	<div class="form-group">
		@inputText(InspectionForm("name"),
		'_label->"Naziv inspekcijskog tijela",
		'_showConstraints -> false
		) 

		@select(InspectionForm("inspectorateId"), options(inspectorates),
		'_label->"Inspektorat",
		'_showConstraints -> false
		)

		@select(InspectionForm("jurisdictionId"), options(products),
		'_label->"Nadležnost",
		'_showConstraints -> false
		)

		@select(InspectionForm("personId"), options(inspectionServices),
		'_label->"Kontakt Osoba",
		'_showConstraints -> false
		)
		<section class="alert alert-info">
		Osoba nije na spisku? <a href="@routes.PersonController.create()" class='pull-right btn btn-sm btn-success'>Dodaj Osobu</a>
		</section>

		<input type="submit" value="Dodaj Inspekcijsko Tijelo" class='btn btn-primary' > 
	</div>
} 
</div>

}